.menu {
    display: block;
    position: absolute;
    width: 75vw;
    height: 89vh;
    background-color: #fff;
    z-index: 10;
    right: -75%;
    top: 11vh;
    transition: right .5s ease;
}
.showMenu {
    right: 0;
}
.menu ul {
    list-style: none;
    display: block;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    line-height: 1.5;
    margin-top: 40%;
    transition: .5s ease;
    font-size: 1.3rem;
}
.menu.showMenu ul {
    margin-top: 0;
}
@media (orientation: landscape) {
    .menu {width: 15vh; height: 20vh; position: static;}
}