.project {
    overflow: hidden scroll;
    -webkit-overflow-scrolling: touch;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.w100 {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.w100:first-of-type {
    max-height: 100%;
}
.h100 {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.w100 img, .h100 img {
    max-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}
.title {
    position: absolute;
    bottom: 5%;
    left: 5%;
    background-color: #000;
    border: 2px solid white;
    color: white;
    font-size: 1.5em;
    padding: 2% 3%;
    z-index: 5;
}
.paragraph {
    margin: 1.5em 5%;
    width: 70%;
    text-indent: 5%;
}
.verticalCarousel {
    width: 100%;
    height: 100%;
}
.horizontalCarousel {
    width: 100%;
    height: 40%;
}
.horizontalCarousel iframe {
    width: 100%;
    height: 100%;
}

@media (orientation: landscape) {
    .h100 { width: 50%; margin: 1%; }
    .verticalCarousel { width: 50% }
    .horizontalCarousel { height: 90%; }
    .paragraph:first-of-type { width: 30% }
}
@media (orientation: portrait) and (max-width: 800px) and (min-width: 550px) {
    .verticalCarousel { height: 70%; }
}
@media (orientation: portrait) and (min-height: 1024px) {
    .project { height: 100%; top: 0; }
    .horizontalCarousel { height: 35%; }
}
@media (min-width: 2048px) {
    .w100 img, .h100 img { min-width: 100%; }
}