.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.2em;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
}
.contact h2{
    margin: 4% 0;
}
.aboutMe {
    display: block;
    margin: auto;
    width: 60%;
}   
.aboutMe img {
    display: inline-block;
    margin: 5% auto;
    width: 25%;
    border: 2px solid #000;
}
.aboutMe_desc {
    text-align: center;
    width: 90%;
}
.aboutMe_desc p {
    margin-top: 2%;
    font-size: 1em;
}
.aboutMe_contactData {
    margin-top: 10%;
    width: 100%;
}
.form {
    width: 70%;
    position: relative;
}
.form input, .form textarea,
.form select, form .submit {
    font-size: 1em;
    position: relative;
    background-color: #dbdbdb;
    display: block;
    margin: 3px auto 7px auto;
    height: 2em;
    width: 100%;
    border: 2px solid black;
    padding: 0 3%;
    border-radius: 0px;
}
.form textarea {
    padding: 2% 3%;
}
form .submit {
    margin-top: 4%;
    width: 30%;
    font-size: 110%;
}
.form textarea {
    height: 8em;
}
.errorList{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 3% 0;
    transform: translateY(105%);
    color: red;
    list-style: none;
}
.success {
    color: green;
}
@media (orientation: landscape) and (min-width: 500px){
    .form { width: 40%; }
    .aboutMe_desc {
        width: 100%;
        padding: 0 5%;
    }
}
@media (orientation: landscape) and (min-width: 1080px){
    .form { width: 30%; margin: 0 5%; }
    .aboutMe_desc {
        width: 100%;
        padding: 0 5%;
    }
}
@media (orientation: portrait) and (min-height: 1024px){
    .contact { height: 100%; }
    .aboutMe_desc {
        width: 100%;
        padding: 0 5%;
    }
}