.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.2rem;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
}
.contact h2{
    margin-bottom: 10px;
}
.form input, .form textarea, .form select {
    position: relative;
    background-color: #dbdbdb;
    display: block;
    margin: 3px auto 7px auto;
    height: 30px;
    width: 230px;
    border: 2px solid black;
    padding: 0 5px;
    border-radius: 0px;
}
.form input[type='submit'] {
    width: 70px;
}
.form textarea {
    height: 80px;
}
.data {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    margin-bottom: 20px;
}
.data a, .data div {
    display: block;
    margin: 5px 20px;
    cursor: pointer;
}
.data i {
    font-size: 40px;
    display: inline-block;
}
.mail_phone {
    width: 100%;
}
.location {
    display: block;
}
@media (orientation: landscape) and (min-width: 500px){
    .form, .data { width: 50%; }
}
@media (orientation: portrait) and (min-width: 600px), (orientation: landscape) and (min-width: 1024px) {
    .contact { font-size: 1.8rem }
    .form input, .form textarea, .form select { width: 380px; height: 40px; }
    .form textarea { height: 150px; }
    .form input[type='submit'] { width: 150px; }
    .data a, .data div { margin: 15px 20px; }
}