
.parentLogo {
  box-sizing: border-box;
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10vw;
  height: 10vw;
  z-index: 21;
  border: .2vw solid black;
}

.logoAnimation {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.logoAnimation h1 {
  display: flex;
  justify-content: center;
  letter-spacing: -2px;
  font-size: 4vw;
  font-weight: 200;
  margin-top: 25%;
}

.logoAnimation::after {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  content: "";
  width: 90%;
  height: 90%;
}



