
.parentLogo {
  box-sizing: border-box;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15vw;
  height: 15vw;
  z-index: 21;
}

.logoAnimation {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #000 100%, #000 100%),
    linear-gradient(to bottom, #000 100%, #000 100%),
    linear-gradient(to right, #000 100%, #000 100%),
    linear-gradient(to bottom, #000 100%, #000 100%);
  background-size: 100% .4vw, .4vw 100%, 100% .4vw, .4vw 100%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.logoAnimation h1 {
  display: flex;
  justify-content: center;
  letter-spacing: -2px;
  font-size: 6vw;
  font-weight: 200;
  margin-top: 25%;
}

.logoAnimation::after {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  content: "";
  width: 90%;
  height: 90%;
}



