.outer {
  position: relative;
  width: 8vh;
  height: 8vh;
  margin-left: 5vw;
  z-index: 21;
}
.spinner {
  margin: 30% auto;
  z-index: 9;
}
.inner {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.outer:before, 
.outer::after, 
.inner::before, 
.inner::after {
  content: '';
  background-color: #000;
  position: absolute;
  width: 0;
  height: 0;
}
.outer:before {
  height: .13em;
  top: 0;
}
.outer::after {
  width: .13em;
  right: 0;
  top: 0;
}
.inner::before {
  height: .13em;
  bottom: 0;
  right: 0;
}
.inner::after {
  width: .13em;
  left: 0;
  bottom: 0;
}
.outer.active::before         { width: 100%;  transition: .3s ease 0s;  }
.outer.active::after          { height: 100%; transition: .3s ease .3s; }
.outer.active .inner::before  { width: 100%;  transition: .3s ease .6s; }
.outer.active .inner::after   { height: 100%; transition: .3s ease .9s; }

.outer.reverse::before        { transition: .3s ease .9s; }
.outer.reverse::after         { transition: .3s ease .6s; }
.outer.reverse .inner::before { transition: .3s ease .3s; }
.outer.reverse .inner::after  { transition: .3s ease 0s;  }

.inner h1 {
  font-size: 5vw;
  opacity: 0;
  transition: opacity .3s ease;
}
.outer.active .logo1t, .outer.active .logo2t,
.outer.active .logo3t, .outer.active .logo4t { opacity: 1; }

.outer.active   .logo1t { transition-delay: 0s;  }
.outer.active   .logo2t { transition-delay: .3s; }
.outer.active   .logo3t { transition-delay: .6s; }
.outer.active   .logo4t { transition-delay: .9s; }
.outer.reverse  .logo1t { transition-delay: .9s; }
.outer.reverse  .logo2t { transition-delay: .6s; }
.outer.reverse  .logo3t { transition-delay: .3s; }
.outer.reverse  .logo4t { transition-delay: 0s;  }

@media (orientation: portrait) and (min-height: 1024px) {
  .outer { margin: 5vh 0; }
  .outer.spinner { margin: 30% auto; }
}
@media (orientation: landscape) {
  .outer { width: 10vw; height: 10vw; margin: 4vh 0 0 0; }
  .outer.spinner { margin: 30% auto; }
  .inner h1 { font-size: 4vw }
}