.tile {
    position: absolute;
    border: 3px solid white;
    width: 75%;
    height: 90%;
    transition: left .5s ease, right .5s ease, top .7s ease, bottom .7s ease;
  }
  .previous{
    z-index: 7;
    top: 0;
    left: -75%;
  }
  .current{ 
    z-index: 6;
    left: 5%;
    top: 0;
  }
  .next1{
    z-index: 5;
    left: 15%;
    top: 5%;
    transition-delay: .1s;
  }
  .next2{
    z-index: 4;
    left: 25%;
    top: 10%;
  }
  .next3{
    z-index: 3;
    left: 25%;
    top: 10%;
  }
  
  .hide {
    display: none;
  }
  @media (orientation: landscape) {
    .previous {top: -100%; left: 5%;}
    /* .projectInfo.wink { left: 0; top: -100%;   transition: .5s ease; } */
  }
  @media (orientation: portrait) and (min-height: 800px){
    .carousel {height: 70vh; transform: translateY(10%); }
  }
  @media (orientation: portrait) and (min-height: 1024px){
    .tile { height: 90%; margin-top: 15vh; }
    .previous { top: -150%; left: 5%; }
  }