.menu {
    display: block;
    position: absolute;
    font-weight: 700;
    width: 75vw;
    height: 89vh;
    background-color: #fff;
    z-index: 10;
    right: -75vw;
    top: 11vh;
    transition: transform .4s ease;
}
.showMenu {
    transform: translateX(-75vw);
}
.menu ul {
    list-style: none;
    display: block;
    position: absolute;
    top: 50%;
    left: 10%;
    width: 100%;
    line-height: 1.5;
    transform: translateY(50%);
    transition: .4s ease;
    font-size: 1.5rem;
}
.lang {
    position: relative;
    display: inline-block;
    margin-top: 30px;
    color: #858383;
    font-size: 70%;
    cursor: pointer;
}
.lang::after {
    position: absolute;
    content: '';
    width: 30%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #858383;
    transition: .2s ease;
}
.lang.langToggle::after {
    left: 65%;
}
.menu.showMenu ul {
    transform: translateY(-50%)
}
@media (orientation: landscape) {
    .menu { width: 15vw; height: 20vh; position: static; }
    .showMenu { transform: none }
    .menu ul { text-align: right; left: -10%;  margin-top: -50%; }
    .menu.showMenu ul { transform: translateY(50%); }
}
@media (orientation: portrait) and (min-height: 1024px){
    .menu { width: 15vw; height: 20vh; position: static; }
    .showMenu { transform: none }
    .menu ul { text-align: right; left: -10%;  margin-top: -50%; }
    .menu.showMenu ul { transform: translateY(50%); }
}