.menu {
    display: block;
    position: absolute;
    width: 75vw;
    height: 100vh;
    background-color: #fff;
    z-index: 10;
    right: -75vw;
    top: 0;
    transition: transform .4s ease;
}
.showMenu {
    transform: translateX(-75vw);
}
.menu ul {
    list-style: none;
    display: block;
    position: absolute;
    top: 55%;
    left: 10%;
    width: 100%;
    line-height: 1.5;
    transform: translateY(50%);
    transition: transform .4s ease;
    font-size: 1.5rem;
}
.menu li {
    text-transform: capitalize;
}
.lang {
    position: relative;
    display: inline-block;
    margin-top: 25px;
    color: #858383;
    font-size: 65%;
    cursor: pointer;
}
.lang::after {
    position: absolute;
    content: '';
    width: 30%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #858383;
    transition: .2s ease;
}
.lang.langToggle::after {
    left: 65%;
}
.menu.showMenu ul {
    transform: translateY(-50%)
}
@media (orientation: landscape), (orientation: portrait) and (min-height: 1024px) {
    .menu { width: 17vw; height: 100%; left: 0; }
    .showMenu { transform: none; }
    .menu ul { text-align: right; transition: none; font-size: 1.2rem; left: -5%; top: 45%; }
    .menu.showMenu ul { transform: translateY(50%); }
    .lang { margin-top: 15%; }
}
@media (orientation: portrait) and (min-height: 1024px) {
    .menu ul { top: 50%; }
}