header {
    position: absolute;
    width: 100vw;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: #fff;
    backface-visibility: hidden;
}
.logo{
    font-size: 2rem;
    margin-left: 5vw;
}
.burgerIcon {
    height: 60%;
    margin: 5%;
    width: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    z-index: 20;
}
.burgerIcon .bar{
    height: 15%;
    width: 85%;
    border-radius: 2px;
    background-color: #000;
    transition: .4s ease;
}
.burgerIcon.active .bar:nth-child(1){
    transform: translateY(225%) rotate(-45deg);
}
.burgerIcon.active .bar:nth-child(2){
    opacity: 0;
}
.burgerIcon.active .bar:nth-child(3){
    transform: translateY(-225%) rotate(45deg);
}
@media (orientation: landscape), (orientation: portrait) and (min-height: 1024px) {
    header { height: 100vh; width: 17vw; left: 0; flex-direction: column; justify-content: space-between; z-index: 12; box-shadow: 5px 0px 8px 0px #0000001f; }
    .burgerIcon { display: none; }
}