.carousel {
  position: relative;
  height: 100%;
  width: 100%;
}
.tile {
  position: absolute;
  border: 3px solid white;
  width: 75%;
  height: 90%;
  transition: left .5s ease, right .5s ease, top .7s ease, bottom .7s ease;
  overflow: hidden;
}
.previous{
  z-index: 7;
  top: 0;
  left: -75%;
}
.current{ 
  z-index: 6;
  left: 5%;
  top: 0;
}
.next1{
  z-index: 5;
  left: 15%;
  top: 5%;
  transition-delay: .1s;
}
.next2{
  z-index: 4;
  left: 25%;
  top: 10%;
}
.next3{
  z-index: 3;
  left: 25%;
  top: 10%;
}
.hide {
  display: none;
}
.projectInfo {
  position: absolute;
  top: 42%;
  left: 0;
  width: 35vh;
  height: 35vh;
  z-index: 8;
  background-color: #000;
  border: 3px solid white;
  color: white;
  padding: 10% 5%;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: .3s ease;
}
.wink {
  opacity: 0;
  transform: translateX(-100%);
}
.image {
  height: 100%;
}
@media (orientation: landscape) {
  .previous {top: -100%; left: 5%;}
  .projectInfo { width: 50vh; height: 50vh; padding: 2% 2%; top: 35%; left: 1%; }
  /* .projectInfo.wink { left: 0; top: -100%;   transition: .5s ease; } */
}
@media (orientation: portrait) and (min-height: 800px){
  .carousel {height: 70vh; top: 20vh; }
  .projectInfo { height: 25vh; width: 25vh; }
}
@media (orientation: portrait) and (min-height: 1024px){
  .previous { top: -150%; left: 5%; }
  .projectInfo { height: 25vh; width: 25vh; }
}