.carousel {
  position: relative;
  height: 100%;
  width: 100%;
  transition: opacity .3s ease;
}
.tile {
  position: absolute;
  background-color: #ccc;
  border: 3px solid white;
  width: 75%;
  height: 90%;
  transition: transform .5s ease, opacity 0s ease .5s;
  overflow: hidden;
  bottom: 0;
  right: 0;
}
.tile img {
  height: 100%;
  margin-left: -50%;
}
.previous{
  z-index: 7;
  transform: translate(-135%, -10%);
}
.current{ 
  z-index: 6;
  transform: translate(-25%, -10%);
}
.next1{
  z-index: 5;
  transform: translate(-12.5%, -5%);
  transition-delay: .1s;
}
.next2{
  z-index: 4;
}
.next3{
  z-index: 3;
}
.hide {
  opacity: 0;
  transition: none;
}
.projectInfo {
  position: absolute;
  top: 52%;
  left: 0;
  width: 30vh;
  height: 30vh;
  z-index: 8;
  background-color: #000;
  border: 3px solid white;
  color: white;
  padding: 10% 5%;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: .3s ease;
}
.wink {
  opacity: 0;
  transform: translateX(-100%);
}
@media (orientation: landscape) {
  .projectInfo { width: 50vh; height: 50vh; padding: 2% 2%; top: 35%; left: 1%; }
  .tile img { margin-left: 0; }
}
@media (orientation: portrait) and (min-height: 800px){
  .carousel {height: 70vh; top: 20vh; }
  .projectInfo { height: 25vh; width: 25vh; }
}
@media (orientation: portrait) and (min-height: 1024px){
  .previous { top: -150%; left: 5%; }
  .projectInfo { height: 25vh; width: 25vh; }
}