.tile {
  position: absolute;
  border: 3px solid white;
  width: 75%;
  height: 90%;
  transition: left .5s ease, right .5s ease, top .7s ease, bottom .7s ease;
}
.carousel{
  position: relative;
  height: 88vh;
  top: 12vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.previous{
  z-index: 7;
  top: 0;
  left: -75%;
}
.current{ 
  z-index: 6;
  left: 5%;
  top: 0;
}
.next1{
  z-index: 5;
  left: 15%;
  top: 5%;
  transition-delay: .1s;
}
.next2{
  z-index: 4;
  left: 25%;
  top: 10%;
}
.next3{
  z-index: 3;
  left: 25%;
  top: 10%;
}
.hide {
  display: none;
}
.project {
  width: 100%;
  height: 100%;
  font-size: 200px;
  display: flex;
  justify-content: center;
}
.projectInfo {
  position: absolute;
  top: 42%;
  left: 0;
  width: 35vh;
  height: 35vh;
  z-index: 8;
  background-color: #000;
  border: 3px solid white;
  color: white;
  padding: 10% 5%;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: .3s ease;
}
.projectInfo.wink {
  opacity: 0;
  left: -50%;
}
@media (orientation: landscape) {
  .carousel { height: 100vh; width: 85vw; left: 15vw; top: 0; }
  .previous {top: -100%; left: 5%;}
  .projectInfo { width: 50vh; height: 50vh; padding: 2% 2%; top: 35%; }
  /* .projectInfo.wink { left: 0; top: -100%;   transition: .5s ease; } */
}
@media (orientation: portrait) and (min-height: 800px){
  .carousel {height: 70vh; transform: translateY(10%); }
  .projectInfo { height: 25vh; width: 25vh; }
}
@media (orientation: portrait) and (min-height: 1024px){
  .tile { height: 70%; margin-top: 15vh; }
  .carousel { width: 85vw; left: 15vw; height: 100vh; top: 0; transform: none; }
  .previous { top: -100%; left: 5%; }
  .projectInfo { height: 25vh; width: 25vh; }
}










.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.green{
  background-color: green;
}
.violet{
  background-color: violet;
}
.lime{
  background-color: lime;
}
.yellow{
  background-color: yellow;
}
.orange{
  background-color: orange;
}
.white{
  background-color: gray;
}
.black{
  background-color: rgb(53, 54, 52);
}
.brown{
  background-color: brown;
}