.carousel {
  height: 100%;
  width: 100%;
  position: relative;
}
.tile {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 75%;
  height: 90%;
  overflow: hidden;
  background-color: #858383;
  border: 3px solid white;
  opacity: 0;
  will-change: transform, z-index, opacity;
  transition: transform .5s ease;
}
.tile img {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  image-rendering: optimizeSpeed;
}
.previous {
  opacity: 1;
  z-index: 7;
  transform: translate3d(-135%, -10%, 0);
  transition: transform .5s ease, opacity 0s .5s;
}
.current { 
  opacity: 1;
  z-index: 6;
  transform: translate3d(-25%, -10%, 0);
}
.next1 {
  opacity: 1;
  z-index: 5;
  transform: translate3d(-12.5%, -5%, 0);
  transition-delay: .15s;
}
.next2 {
  opacity: 1;
  z-index: 4;
}
.next3 {
  opacity: 1;
}
.noTransition * {
  transition: none;
}
@media (orientation: landscape) {
  .previous { transform: translate3d(-25%, -120%, 0) }
}
@media (orientation: portrait) and (min-height: 800px) {
  .carousel {height: 70vh; top: 10vh; }
}
@media (orientation: portrait) and (min-height: 1024px){
  .previous { top: -150%; left: 5%; }
  .projectInfo { height: 25vh; width: 25vh; padding: 5% 5%;}
}