.portfolio {
    padding-top: 15%;
    overflow: hidden scroll;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-wrap: wrap;
    transition: opacity .2s ease;
}
.hide {
    opacity: 0;
}
.filters {
    width: 100%;
    position: fixed;
    top: 10vh;
    z-index: 3;
}
.mainNav {
    position: relative;
    font-size: 1.1em;
    width: 100%;
    z-index: 3;
    background-color: #fff;
    padding-bottom: 5px;
    opacity: 1;
}
.mainNav h2, .subNav h2 {
    display: inline-block;
    width: 50%;
    text-align: center;
    cursor: pointer;
}
.mainNav::before {
    content: '';
    position: absolute;
    background-color: #858383;
    width: 100%;
    bottom: 0;
    height: 1px;
}
.mainNav::after {
    content: '';
    position: absolute;
    background-color: #000;
    bottom: -1px;
    height: 3px;
    width: 46%;
    left: 26%;
    transition: .3s ease;
}
.mainNav.left::after {
    left: 2%;
}
.mainNav.right::after {
    left: 52%;
}
.subNav {
    position: relative;
    padding: 1em 20% 0 20%;
    font-size: .9em;
    width: 100%;
    z-index: 2;
    background-color: #fff;
    padding-bottom: 5px;
    top: 13.9%;
}
.subNav::after {
    content: '';
    position: absolute;
    background-color: #000;
    bottom: -1px;
    height: 3px;
    width: 23%;
    left: 39%;
    transition: .3s ease;
}
.subNav::before {
    content: '';
    position: absolute;
    background-color: #858383;
    width: 60%;
    bottom: 0;
    height: 1px;
}
.subNav.left::after {
    left: 23%;
}
.subNav.right::after {
    left: 53%;
}
.project {
    width: 95%;
    margin: 3% auto;
    height: 40vh;
    position: relative;
}
.projectImage {
    background-color: #fff;
    height: 90%;
    overflow: hidden;
    position: relative;
}
.projectImage img {
    min-height: 100%;
    min-width: 100%;
    max-width: 125%;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    image-rendering: optimizeSpeed;
}
.projectBackground {
    display: none;
}
.project h3 {
    display: inline;
    font-size: 1.2em;
    margin-left: .5em;
    position: relative;
}
.portfolioContact {
    width: 100%;
}
@media (orientation: landscape) {
    .portfolio { padding-top: 4em; }
    .filters { top: 0; left: 17vw; width: 83vw;}
    .project { width: 45%; height: 22vw; }
    .subNav { padding: 1em 25% 0 25% }
    .subNav::after { width: 15% }
    .subNav::before { width: 50%; }
    .subNav.left::after { left: 30%; }
    .subNav.right::after { left: 55%; }
}
@media (orientation: portrait) and (min-height: 1024px) {
    .portfolio { padding-top: 5em; }
    .filters { width: 83vw; top: 0; left: 17vw; }
    .portfolio { height: 100%; top: 0 }
}
@media (hover: hover) {
    .projectImage { border: 3px solid white; transition: .3s ease; }
    .project:hover .projectImage { transform: translate(-2vh, -2vh); }
    .projectBackground {
        display: block;
        background-color: #000;
        width: 100%;
        height: 90%;
        position: absolute;
        top: 0;
        z-index: -1;
    }
}
