.portfolio {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
}
.potrfolioNav {
    position: relative;
    font-size: 1.3em;
    margin-bottom: 3%;
    width: 100%;
    height: 6%;
}
.potrfolioNav h2 {
    display: inline-block;
    width: 50%;
    text-align: center;
    cursor: pointer;
}
.potrfolioNav::after {
    content: '';
    position: absolute;
    background-color: #000;
    bottom: -6px;
    height: 4px;
    width: 46%;
    left: 26%;
    transition: .3s ease;
}
.potrfolioNav.left::after {
    left: 2%;
}
.potrfolioNav.right::after {
    left: 52%;
}
.project {
    width: 95%;
    margin: 3% auto;
    height: 40vh;
    position: relative;
}
.projectImage {
    background-color: #fff;
    height: 90%;
    overflow: hidden;
    position: relative;
}
.projectImage img {
    min-height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.projectBackground {
    display: none;
}
.project h3 {
    display: block;
    font-size: 1.4rem;
}
@media (orientation: landscape) {
    .potrfolioNav { height: 8.5%; }
    .project { width: 45%; }
}
@media (hover: hover) {
    .projectImage { border: 3px solid white; transition: .3s ease; }
    .projectImage:hover { transform: translate(-2vh, -2vh); }
    .projectBackground {
        display: block;
        background-color: #000;
        width: 100%;
        height: 90%;
        position: absolute;
        top: 0;
        z-index: -1;
    }
}
